.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;

  @media only screen and (max-width: $breakpoint-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);

  display: flex;
  // Space all content inside this container evenly across the x axis
  justify-content: space-between;
  // Align all content inside this container centered across the y axis
  align-items: center;

  @media only screen and (max-width: $breakpoint-smallest) {
    flex-wrap: wrap;
    height: 11rem;
    align-content: space-around;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: $breakpoint-medium) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  // flex-grow, flex-shrink, flex-basis (width)
  flex: 0 0 18%;

  display: flex;
  // Change main direction of container from left-right to top-bottom
  flex-direction: column;
  // This pushed the ul.side-nav to the top and the .legal to the bottom
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;
  // hotel view must take up all the remaining width (width: 100%)
  flex: 1;
}

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);

  @media only screen and (max-width: $breakpoint-medium) {
    padding: 3rem;
  }

  @media only screen and (max-width: $breakpoint-small) {
    flex-direction: column;
  }
}

.description {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;

  @media only screen and (max-width: $breakpoint-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }

  @media only screen and (max-width: $breakpoint-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-reviews {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin: auto; // Another way to center on the main axis
}
